@tailwind base;
@tailwind components;
@tailwind utilities;

.form-display{
  display: flex;
  flex-direction: column;
}

.form-display input, .form-display select{
  margin-bottom: 1rem;
  padding: 1rem;
}

.container{
    max-width: 900px;
    margin: 2rem auto;
}

.form-container{
  background-color:#f2f2f2;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.form-container label{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hide{
  display:none;
}

@keyframes slideUp{
  from{
    opacity: 10%;
    margin-top: 30px;
  }
  to{
    margin-top: 0;}
}

.submission-row{
  animation-name: slideUp;
  animation-duration: 0.75s;
  background-color: rgb(61, 200, 166);
  justify-content: space-between;
  color: #fff;
  transition: 200ms ease-in-out;
}



input,select{
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,.05);
}

.button{
  display:inline-block;
  border-radius: 4px;
  font-weight: 600;
  transition: 200ms ease-in-out;
}

label span{
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.125rem;
}